.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

* {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    font-weight: 400;
    background-color: var(--aksent-text-other-color);
    font-family: "roboto", "sans-serif";
    color: var(--main-title-text-color);
   
}



.flex-conteiner {
    text-decoration: none;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;

        margin: auto;
    padding-left:15px;
    padding-right:15px ;



  @media screen and (min-width:480px)and (max-width:767px) {
  
    padding-top: 60px;
        padding-bottom: 60px;}
   @media screen and (min-width:768px) and (max-width:1199px) {

        margin: auto;


}}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;}


