


.container__room-lux
{
 width: 414px;
    background: rgba(255, 253, 238, 1);;
padding-top: 32px; 
padding-bottom: 32px;
position: relative;
@media screen and( min-width:1024px) {
   width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 62px;
    
}
}

.hotel__text{
letter-spacing: .02em;
    color: var(--color-beige1);
    max-width: 258px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
color:#5F5F5F;
        margin-bottom: 32px;
        font-size: 12px;
margin-bottom: 32px;
text-align: justify;
    
@media screen and(min-width:1024px) {
    
  
        margin-bottom: 176px;
      

        padding-right: 26px;
   
    letter-spacing: .02em;
        color: var(--color-beige2);
        max-width: 400px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.25;
   

    }
}


.photo__bedroom{
     box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
margin-right: 0px;
margin-bottom: 32px;
@media screen and(min-width:1024px) {
    position: absolute;
    top:-32px;
    right: 112px;
}}


.photo{
    display: flex;

}

        .hotel__subtitle{
        font-weight:  400;
            margin-bottom: 8px;
            color:  rgba(180, 180, 180, 1);
            height: 23px;
            font-weight: 400;
            color: rgba(180, 180, 180, 1);
            @media screen and(min-width:1024px){
                font-size: 32px;
            } }

                        .hotel__name{
                            font-size: 40px;
                            margin-bottom: 32px;
                            @media screen and(min-width:1024px) {
                                margin-bottom: 62px;
                                
                        }}
.hotel__title{
       font-size: 24px;
    font-weight: 700;
    line-height: 28px;
margin-bottom: 12px;
@media screen and(min-width:1024px) 
{margin-bottom: 16px;
    font-size: 30px;
    font-weight: 700;
}}

.hotel__name {
 
    font-size: 64px;
    font-weight: 700;
    
}
.slide__list
{overflow: hidden;
    display: flex;
    gap: 16px;
    @media screen and(min-width:1024px) {
            gap: 40px;
            ;
}}

.button-other__detail{
    
    border-radius: 25px;
width: 236px;
height: 48px;
background-color: black;
color:#F3C653;
font-size: 16px;
}

.button-other__price {
   
    border-radius: 25px;
    width: 236px;
    height: 48px;
    background-color: black;
    color: #F3C653;
    font-size: 16px;
}
.button-other{
 gap: 16px;
    bottom: 32px;
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    align-items: center;
    @media screen and(min-width:1024px) {
        position: absolute;
        right: 47px;
     bottom: 45px;
     margin-top: 0;
    }


    
    ;
}
.button__right{

    border-color: transparent;
background-color:transparent;
    fill: black;
    cursor: pointer;
    margin-left: 34px


    ;
}

.button__left {

    border-color: transparent;
    background-color:transparent;
    fill: black;
    cursor: pointer;
    
    ;}

    



    
                  .button-turn{
                   position: absolute;
                    bottom: 190px;
                    @media screen and(min-width:1024px){
bottom: -40px;
        right: 50%;       }
                  }
    

.slide__item{
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

}

.menu-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    position: fixed;
    padding: 48px 40px;
    overflow-y: scroll;
}
.is-open {
    display: block;
    transform: translateX(0);

    z-index: 999;
}
.menu-toggle.js-menu-container {
    opacity: 0;
}

.menu-toggle.js-menu-container {
    opacity: 0;
}


.menu-container {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    position: fixed;
    padding: 48px 40px;
    overflow-y: scroll;
}





.menu-container .menu-toggle {
    color: #fff;
}

.navigation__mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-toggle-close {
    position: absolute;

    top: 10px;
    right: 15px;
    border-color: transparent;
    background-color: transparent;


    @media screen and (min-width:768px) {
        display: none;
    }
}


.menu-toggle {
    position: absolute;
    top: 21px;
    right: 0;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;

}

.is-open {
    display: block;
    transform: translateX(0);

    z-index: 999;
}


.navigation-mobile-menu__item {
    color: rgba(33, 33, 33, 1);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 32px;
    text-decoration: none;
}

.mobile-menu-social-network__list {
    margin-top: 64px;
    display: flex;
    width: auto;

}






.mobile-menu-social-network__item::after {

    content: "";
    margin: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);


    &:last-child {
        border: none;
    }
}

.mobile-menu-contacts__link--mail {


    font-size: 16px;
    cursor: pointer;
    color: var(--other-title-color);

    @media screen and (min-width:480px) {
        font-size: 24px;

    }
}


.mobile-menu-contacts__item {

    margin-bottom: 32px;
}

.mobile-menu-contacts__link {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-blu);

    @media screen and (min-width:480px) {

        font-size: 34px;
    }
}

.mobile-menu-contacts__link--mail {

    &:hover,
    &:focus {
        color: rgba(33, 150, 243, 1);
    }
}



.mobile-menu-contacts__link {

    &:hover,
    &:focus {
        color: rgba(33, 150, 243, 1);

        ;
    }
}

.navigation-mobile-menu-link {
    color: var(--main-title-text-color);
    cursor: pointer;
}

.navigation-mobile-menu-link {
    color: var(--main-title-text-color);

    &:hover,
    &:focus {

        color: rgba(33, 150, 243, 1);
    }
}






.mobile-menu-social-network__link {
    color: var(--color-blu);
}


.menu-toggle-close {

    &:hover,
    &:focus {
        fill: var(--other-link-color);

    }
}

.menu-toggle-close {

    &:hover,
    &:focus {
        .icon-cross {
            fill: var(--other-link-color)
        }
    }
}


.menu-toggle {

    &:hover,
    &:focus {
        fill: var(--other-link-color);

    }
}

.menu-toggle {

    &:hover,
    &:focus {
        .icon-menu {
            fill: var(--other-link-color)
        }
    }
}

.mobile-menu-contacts {
    @media screen and (max-width: 479px) {
        font-size: 12px;

    }
}