:root {
    --main-title-text-color: rgba(33, 33, 33, 1);
    --other-title-color: rgba(117, 117, 117, 1);
    --primary-background-color: rgba(47, 48, 58, 1);
    --aksent-text-other-color: rgba(255, 255, 255, 1);
    --other-link-color: rgba(33, 150, 243, 1);
    --secondary-fone-color: rgba(245, 244, 250, 1);
    --color-grey: rgba(255, 255, 255, 0.6);
    --color-border-images: rgba(238, 238, 238, 1);
    --color-border-bottom :rgba(236, 236, 236, 1);
    --color-blu: rgba(33, 150, 243, 1);}


